@tailwind base;
@tailwind components;
@tailwind utilities;
.sectionContent{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color:  #60656f;
  
  }
.categoriesCard{
  width:"200px"
}
.pokemonCards{
  width: "200px";
  padding: 20px;
  background-color:"#f9f5f5"
}
.pokemonHomeImage{
  width:400px;
  margin-top: 10px;
  margin-bottom: 10px;
}